{% extends "base.html" %}
{% block head %}
    <title>Nombre</title>
{% endblock %}
{% block body %}
<div class="parallax" style="color:aliceblue; text-align: center;padding: 190px;font-size: 120px; text-shadow: 2px 0 0  #000000, -2px 0 0  #000000, 0 2px 0  #000000, 0 -2px 0  #000000, 1px 1px  #000000, -1px -1px 0  #000000, 1px -1px 0  #000000, -1px 1px 0  #000000;">
    <p class="titulo">⚡⚡Chicles⚡⚡</p>
</div>
<div style="padding: 0px;text-align: left;">
    <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero eros, imperdiet id orci convallis, convallis ultricies turpis. Nam interdum, orci ut sagittis consectetur, purus ligula egestas neque, a placerat nulla sapien facilisis dui. Donec consequat odio ex, nec pellentesque turpis accumsan vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In vestibulum posuere lorem, ut efficitur lacus iaculis sit amet. Pellentesque lobortis felis ex, quis aliquam purus scelerisque sit amet. Aenean odio diam, rhoncus at sem eu, rhoncus eleifend justo.
        
        Nullam in sem porttitor, tempor nulla eget, vehicula velit. Vestibulum fringilla pretium lorem, ut dictum nibh semper a. Donec id libero eu lorem ornare posuere eu ac lorem. Integer vel vestibulum dui. Phasellus a ligula leo. Aenean rutrum quam mattis turpis varius iaculis commodo et purus. Mauris vehicula ex eu posuere vehicula.
        
        Aliquam erat volutpat. Etiam aliquet congue faucibus. Aliquam dui felis, suscipit sed nibh at, mollis accumsan odio. Proin mattis lacus sit amet ornare pulvinar. Mauris eget justo eget risus iaculis convallis vitae et metus. Etiam quis malesuada purus. Etiam dolor ante, aliquet nec sollicitudin in, feugiat et nulla. Mauris sagittis ipsum in elit ornare, ac porttitor est condimentum. Morbi posuere, eros et bibendum ultrices, augue magna ultricies dui, ut dignissim arcu elit at diam. Mauris porttitor dictum mauris, in rhoncus velit semper non. Maecenas ullamcorper enim vitae vulputate posuere. Fusce urna sem, vehicula in libero eu, malesuada consequat ipsum. Curabitur venenatis lectus ac ultrices placerat. Nam rutrum interdum aliquet. </p>
</div>
{% endblock %}