.parallax {
    background-image: url('../images/ezgif.com-resize.gif');
    height: 670px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    margin: auto;
    width: 50%;
    padding: 250px;
    text-align: center;
}

.text div{
  color: #FFFFFF;
}

.btn-outline-primary {
  color: #9f9f9f;
  border-color: #9f9f9f;
}

.btn-primary {
  color: #fff;
  background-color: #9f9f9f;
  border-color: #9f9f9f;
}

.btn-primary:hover {
  color: #FFFFFF;
  background-color:#9f9f9f;
  border-color: #9f9f9f;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #9f9f9f;
  border-color: #9f9f9f;
}

.btn-outline-primary:hover {
  color: #FFFFFF;
  background-color: #9f9f9f;
  border-color: #9f9f9f;
}
