.parallax {
    background-image: url("https://previews.123rf.com/images/kebox/kebox1604/kebox160400048/56866292-fondo-con-los-c%C3%ADrculos-de-colores-sobre-fondo-negro.jpg");
  
    height: 610px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    margin: auto;
    width: 50%;
    padding: 250px;
    text-align: center;
}

.text div{
  color: #FFFFFF;
}

.btn-outline-primary {
  color: #ff5900;
  border-color: #ff5900;
}

.btn-primary {
  color: #fff;
  background-color: #ff5900;
  border-color: #ff5900;
}

.btn-primary:hover {
  color: #FFFFFF;
  background-color:#ff5900;
  border-color: #ff5900;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #ff5900;
  border-color: #ff5900;
}

.btn-outline-primary:hover {
  color: #FFFFFF;
  background-color: #ff5900;
  border-color: #ff5900;
}
